.header {
  background-color: #3F422E;
  color: #ffffffff;
}

@media (max-width: 1220px) {
  .header {
    background-color: #fff;
  }
}

@media (max-width: 1220px) {
  .header .container {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #3F422E;
  }
}

.header .container {
  padding-top: 23px;
  padding-bottom: 23px;
  color: #ffffffff;
}

.header-row {
  display: flex;
  align-items: center;
}

.header-logo img {
width: 75px;
height: 48px;
left: 13px;
top: 13px;
}

.header-nav {
  font-size: 16px;
  font-weight: 500;
  left: 300px;
  margin-left: 75px;
}

.header-nav ul {
  display: flex;
}

.header-nav li:not(:last-child) {
  margin-right: 55px;
}

.header-nav a {
  color: #ffffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header-nav a:hover {
  color: #D78B30;
}

.header-login {
  margin-left: auto;
}

.header-login > * + *{
  margin-left: 5px;
}

.header-login a{
  color: #ffffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header-login a:hover {
  color: #D78B30;
}

.bth, a.bth {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 13px;
  padding-right: 13px;
  color: black;
  font-size: 18px;
  background: #D78B30;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: color 0.2s ease;
}
.bth:hover, a.bth:hover {
  opacity: 0.8;
  color: #fff;
}
