.you-study {
  padding-bottom: 110px;
  padding-top: 110px;
}

.you-study-name {
  padding-top: 30px;
}

.you-study h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 14px;
  /* or 44% */
  letter-spacing: -0.456px;
  display: flex;
  align-items: center;
}

.you-study-steps {
  padding-top: 50px;
  padding-left: 59px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 71px;
}

.step {
  max-width: 300px;
  position: relative;
}

.step-img {
  width: 100%;
  height: 404px;
  border-radius: 50px;
}

.step-name { 
  background: #3F422E;
  border-radius: 50px;
  width: 200px;
  height: 42px;
  /* margin: auto; */
  position: absolute;
  right: 50px;
  top: 384px;
}

.step-name p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.176px;
  color: #FFFFFF;
  padding-top: 10px;
  text-align: center;
  }